{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Currency Converter{% endblock %}

{% block content %}
  <h1>Currency Converter</h1>
  <form class="form-horizontal" method="post" action="{% url 'converter:index' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Convert</button>
      </div>
    </div>
  </form>
</div>
{% if received_amount %}
<p>
  Amount received is {{ received_amount }}
</p>
{% endif %}
{% endblock %}
