{% extends "base.html" %}

{% block title %}{{ user.username }} Wallet {% endblock %}

{% block content %}
<figure class="text-center">
  <blockquote class="blockquote">
    <p class="h2"> Money Transfer Wallet </p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <p class="h7">Transfer money to and from different currencies worldwide</p>
  </figcaption>
</figure>
<br />
<br />
<center>
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <p class="text-capitalize h3">Hi {{ user.username }} </p>
        <figure class="figure">
          <img src="{{ MEDIA_URL }}{{ user.picture }}" class="figure-img img-fluid rounded-circle"
            width="150" alt="{{ user.preferred_currency }}">
          <figcaption class="figure-caption"><p class="h7">Currency:&nbsp;{{user.preferred_currency}}<br/>
            Available Balance: {{ amount }}&nbsp;&nbsp; {{ currency.currency_symbol }}<p></figcaption>
        </figure>
      </div>
      <div class="col align-self-center">
       <a class="btn btn-outline-success" data-mdb-ripple-color="dark"
        href="{% url 'transfer:update' request.user.username %}" role="button">Deposit Money</a>
      </div>
      <div class="col align-self-center">
        <a class="btn btn-outline-info" data-mdb-ripple-color="dark"
           href="{% url 'transfer:transfer' account.account_number %}" role="button">Send Money</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        {% if money_sent %}
        <table class="table table-hover">
          <caption>Money Sent</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Sent To</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for money in money_sent %}
            <tr>
              <th scope="row">{{ money.date }}</th>
              <td>{{ money.transfer_to }}</td>
              <td>{{ money.credit }} {{ money.currency }}</td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
     </div>
      <div class="col align-self-start">
        {% if money_received %}
        <table class="table table-hover">
          <caption>Money Received</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Received From</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for money in money_received %}
            <tr>
              <th scope="row">{{ money.date }}</th>
              <td>{{ money.transfer_from }}</td>
              <td>{{ money.debit }} {{ money.currency }}</td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
     </div>

    </div>
  </div>
 </center>
{% endblock content %}
